# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/buffalo
/certs/ca.crt
/certs/client.root.crt
/certs/client.root.key
/certs/node.crt
/certs/node.key
/cockroach
/go-micro
/goa
/hugo
/include/google/protobuf/any.proto
/include/google/protobuf/api.proto
/include/google/protobuf/compiler/plugin.proto
/include/google/protobuf/descriptor.proto
/include/google/protobuf/duration.proto
/include/google/protobuf/empty.proto
/include/google/protobuf/field_mask.proto
/include/google/protobuf/source_context.proto
/include/google/protobuf/struct.proto
/include/google/protobuf/timestamp.proto
/include/google/protobuf/type.proto
/include/google/protobuf/wrappers.proto
/migrate
/mycert/ca.key
/openapi-generator-cli.jar
/protoc
/sqlc
